---
stages:
  - lint
  - deps
  - test
  - build
  - publish

include:
  - project: ngreese/job-templates
    ref: main
    file:
      - templates/rust.yml

format:
  extends: .cargo_fmt

clippy:
  extends: .cargo_clippy

audit:
  extends: .cargo_audit

#test:
#  extends: .cargo_test

build:
  extends: .cargo_build
  script:
    - /opt/gitlab/.cargo/bin/cargo clippy --no-default-features --features blocking --quiet --message-format json | /opt/gitlab/.cargo/bin/gitlab-clippy >> gl_clippy.json
    - /opt/gitlab/.cargo/bin/cargo clippy --no-default-features --features async --quiet --message-format json | /opt/gitlab/.cargo/bin/gitlab-clippy >> gl_clippy.json
    - /opt/gitlab/.cargo/bin/cargo clippy -no-default-features --features async --quiet
    - /opt/gitlab/.cargo/bin/cargo clippy -no-default-features --features blocking --quiet

build_release:
  extends: .cargo_build_release

docs:
  extends: .cargo_docs

publish:
  extends: .cargo_publish
